body {
  background-color: rgba(245, 244, 244, 1);
  color: black;
  font-family: 'Kulim Park', sans-serif;
}



.banner {
  background-image: linear-gradient(rgba(245, 244, 244, 0.3), rgba(245, 244, 244, 1)), url(https://images.unsplash.com/photo-1550537687-703259b88fc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%
}

.banner p {
font-size: 25px;

}

.contact {
font-size: 20px !important;
}

button {
  color: white;
  margin-top: 30px;
  padding: 10px 15px;
  background-color: #47216D;
  border-radius: 6px;
  font-size: 20px;
  opacity: 0.9;
}

.button:hover {
  background-color: rgb(97,45,148, 0.8);
  padding: 11px 16px;
  cursor: pointer;
}

.btn-small {
  color: white;
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #47216D;
  border-radius: 6px;
  font-size: 15px;
  opacity: 0.9;
  cursor: pointer;
}


h1 {
  font-size: 55px;
  font-family: 'Libre Franklin', sans-serif;
  color: black;
  padding-top: 40vh;
  margin-top: 0px !important;
  text-shadow: 0.5px 0.5px 4px rgba(245, 244, 244, 0.8);
}

.container {
  width: 80%;
  margin: auto;
}

.cards {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  justify-items: center;
}

.card {
  width: 400px;
  height: 480px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.card:hover {
  width: 402px;
  opacity: 0.9;
}

.cards img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  vertical-align: middle;
}
.card-content {
  padding: 10px;
  background-color: rgba(62, 65, 62, 1)
  flex-grow: 1;
}

.card a {
  text-decoration: none;
  color: black;
}

.cards h3 {
  opacity: 0.8;
}

.cards p {
  opacity: 0.7;
}

.lewagon {
  color: #47216D;
  font-weight: bolder;
}

/*.email {
  cursor: url("images/paper-plane.png"), default;
}*/

.infobox {
  background-color: #E4E4E4;
  padding: 15px;
}



.logos {
  margin-top: 30px;
  background-color: #E4E4E4;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
  padding: 15px 0px;
  width: 100%;
}

.logobox {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.logos img {
  height: 45px;
  object-fit: contain;
}

.logos img:hover {
  height: 47px;
  cursor: pointer;
}

.logo-text {
  font-size: 11px;
  opacity: 0.8;
  text-align: center;
}

footer {
  width: 60%;
  margin: auto;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}

footer img {
  height: 30px;
}

.copyright {
  font-size: 11px;
  opacity: 0.8;
  text-align: center;
}

.center {
  text-align: center;
}

.game-cards {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 5vh;
}

.game-cards img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  vertical-align: middle;
}

.game-card {
  border-radius: 40px;
  width: 350px;
  height: 350px;
  text-align: center;
}

.game-card:hover {
  width: 355px;
}

.cut-padding {
  padding-top: 0px;
}

/*games page*/

.game-title {
  padding-bottom: 2vh;
}

.mobile-warning {
  display: none;
}


.credit-text {
  opacity: 0.95;
  padding: 1.5rem;
  position: absolute;
  top: 20%;
  width: 50%;
  left: 20%;
  background-color: rgba(220,220,220, 0.9);
}

#credits {
  cursor: pointer;
}

.italic {
  font-style: italic;
}

.credit-title {
  margin-bottom: 0.5vh;
  font-size: 1rem;
}

.credit-list {
  margin: 0;
  font-size: .8rem;
}

.credit-list a {
  text-decoration: none;
  color: #47216D;
}

#close {
  padding: 3px 5px;
  background-color: #47216D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {

  .banner {
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
  }
  .cards {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }

  .card {
    width: 100%;
    height: auto;
  }

  .card:hover {
    width: 101%;
  }

  .game-card {
    width: 350px;
    height: 350px;
  }

  h1 {
    font-size: 35px;
    padding-top: 30vh;
  }

  .logos {
    grid-template-columns: repeat(4, 1fr);
    padding: 5px;
  }



  footer {
    width: 90%;
  }

  .credit-text {
    top: 120%;
  }


  .mobile-warning {
    display: block;
    padding: 1em;
    width: 80%;
    margin: auto;
    opacity: 0.7;
  }
}

@media only screen and (max-width: 420px){
  .logos {
    grid-template-columns: repeat(3, 1fr);
  padding: 5px;
  }
}
